main {
    min-height: calc(100vh - 160px);
  }

.card-text {
 /*  overflow-x: hidden;  Hide horizontal scrollbar */
  overflow-y: auto; 

 

}

.card p {
  max-height: 200px !important;
}

.card img {
 
  max-height:200px;
}